* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.biography {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}